*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  color: #263238;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  counter-reset: JediCSS;
}

.container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.green-text {
  color: #008000;
}

.header {
  padding-top: 70px;
}
@media (max-width: 1440px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.header__container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.header__logo-holder {
  padding-top: 15px;
}
.header__nav-holder {
  display: flex;
  flex-wrap: wrap;
  padding-left: 170px;
}
@media (max-width: 1440px) {
  .header__nav-holder {
    gap: 200px;
  }
}
.header__nav {
  padding-top: 20px;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
}
.header__nav-link {
  color: #263238;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.header__nav-link:hover {
  color: #008000;
  transition: ease-in-out 0.2s;
}
.header__button-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.header__sign-in {
  border: 1px solid #263238;
  border-radius: 10px;
  color: #263238;
  padding: 21px 44px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.header__sign-in:hover {
  background-color: #008000;
  transition: ease-in-out 0.2s;
  color: white;
}
.header__sign-up {
  border: 1px solid #263238;
  border-radius: 10px;
  color: white;
  padding: 21px 44px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #008000;
}
.header__sign-up:hover {
  background-color: white;
  transition: ease-in-out 0.2s;
  color: #263238;
}
.header__decor {
  position: relative;
  top: -135px;
  left: 0;
}
@media (max-width: 1280px) {
  .header__decor {
    max-width: 280px;
    left: -33px;
  }
}
@media (max-width: 1440px) {
  .header__decor {
    max-width: 350px;
    left: -33px;
  }
}

.hero {
  margin-top: -260px;
  padding-bottom: 210px;
  position: relative;
}
.hero__title {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  line-height: 78px;
  max-width: 889px;
  margin: 0 auto;
  letter-spacing: 1.5px;
  padding-bottom: 69px;
}
.hero__text {
  font-size: 18px;
  line-height: 180%;
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.hero__form-holder {
  max-width: 533px;
  margin: 0 auto;
}
.hero__get-started {
  text-align: center;
  position: relative;
}
.hero__input {
  padding-left: 25px;
  width: 100%;
  height: 76px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 10px;
  background: rgba(38, 50, 56, 0.1);
}
.hero__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.hero__button {
  border-radius: 10px;
  background-color: #008000;
  color: white;
  padding: 22px 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 8px;
}
.hero__button:hover {
  background-color: rgba(38, 50, 56, 0.1);
  border: 1px solid #263238;
  color: #263238;
  transition: ease-in-out 0.2s;
}
.hero__decor {
  position: absolute;
}
.hero__decor2 {
  position: absolute;
}
.hero__decor3 {
  position: absolute;
}
.hero__decor4 {
  position: absolute;
}
.hero__decor5 {
  position: absolute;
}
.hero__decor6 {
  position: absolute;
}

.partners {
  padding-bottom: 200px;
}
.partners__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .partners__holder {
    width: 25%;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
  }
}

.works {
  padding-bottom: 200px;
}
.works__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1375px) {
  .works__holder {
    justify-content: center;
    gap: 35px;
  }
}
@media (max-width: 1440px) {
  .works__content {
    padding-left: 30px;
  }
}
.works__title {
  font-size: 64px;
  line-height: 72px;
  max-width: 574px;
}
.works__text {
  max-width: 460px;
  line-height: 177%;
  font-size: 18px;
  padding-bottom: 48px;
}
.works__step {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 48px;
}
.works__step-content {
  padding-top: 10px;
}
.works__step-title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 16px;
}
.works__step-text {
  font-size: 18px;
  line-height: 180%;
  max-width: 285px;
}
.works__background {
  border-radius: 20px;
  background: rgba(0, 128, 0, 0.05);
  max-width: 750px;
  width: 100%;
  height: 936px;
  position: relative;
}
@media (max-width: 1375px) {
  .works__background {
    width: 70%;
  }
}
.works__image {
  position: absolute;
  left: 45px;
  top: 166px;
}
.works__decor {
  position: absolute;
  left: 280px;
  z-index: -1;
}

.future {
  padding-bottom: 200px;
}
.future__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1295px) {
  .future__holder {
    justify-content: center;
    gap: 85px;
  }
}
@media (max-width: 1440px) {
  .future__content {
    padding-right: 30px;
  }
}
@media (max-width: 1440px) {
  .future__background {
    padding-left: 30px;
  }
}
.future__frame {
  border-radius: 20px;
  background: rgba(0, 128, 0, 0.05);
  width: 750px;
  height: 936px;
  position: relative;
}
.future__image {
  position: absolute;
  left: 45px;
  top: 166px;
}
.future__decor {
  position: absolute;
  left: 280px;
  bottom: -3px;
  z-index: -1;
}
.future__title {
  font-size: 64px;
  line-height: 72px;
  max-width: 465px;
}
.future__text {
  max-width: 455px;
  line-height: 177%;
  font-size: 18px;
  padding-bottom: 48px;
}
.future__item {
  max-height: 90px;
  height: 100%;
  background: rgba(0, 128, 0, 0.05);
  border-radius: 10px;
  position: relative;
  margin-bottom: 24px;
}
.future__item:after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 35px;
  width: 24px;
  height: 24px;
  background-image: url("../../../../src/img/mark.svg");
}
.future__item-name {
  font-size: 24px;
  padding-left: 25px;
  padding-top: 33px;
  padding-bottom: 24px;
}

.why {
  padding-bottom: 200px;
}
.why__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .why__holder {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 1440px) {
  .why__content {
    padding-left: 30px;
  }
}
@media (max-width: 1440px) {
  .why__image-holder {
    padding-right: 30px;
  }
}
.why__title {
  font-size: 64px;
  line-height: 72px;
  max-width: 465px;
}
.why__text {
  max-width: 455px;
  line-height: 177%;
  font-size: 18px;
  padding-bottom: 48px;
}
.why__item {
  padding-bottom: 48px;
  font-size: 20px;
}
.why__item:before {
  counter-increment: JediCSS;
  content: counter(JediCSS);
  margin-right: 50px;
  width: 64px;
  height: 64px;
  line-height: 2rem;
  display: inline-block;
  background: rgba(0, 128, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  color: #008000;
  font-size: 36px;
  font-weight: 700;
  padding-top: 15px;
}

.reviews {
  padding-bottom: 222px;
}
.reviews__title {
  font-size: 70px;
  text-align: center;
  padding-bottom: 32px;
}
.reviews__desc {
  font-size: 18px;
  line-height: 177%;
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.reviews__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  padding-bottom: 48px;
  margin-bottom: 48px;
}
.reviews__column {
  display: flex;
  flex-wrap: wrap;
}
.reviews__image-holder {
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 675px) {
  .reviews__image {
    border-radius: 20px;
  }
}
.reviews__content {
  padding-left: 32px;
  position: relative;
  background: rgba(0, 128, 0, 0.05);
  border-radius: 0 20px 20px 0;
}
@media (max-width: 675px) {
  .reviews__content {
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
  }
}
.reviews__text {
  font-size: 18px;
  line-height: 177%;
  max-width: 320px;
  padding-top: 32px;
}
.reviews__name {
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: 28px;
}
.reviews__button-holder {
  text-align: center;
}
.reviews__button {
  background-color: #008000;
  border-radius: 10px;
  padding: 22px 70px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.reviews__button:hover {
  background-color: white;
  border: 1px solid #263238;
  color: #263238;
  transition: ease-in-out 0.2s;
}

.app {
  position: relative;
  padding-bottom: 200px;
}
.app__holder {
  background: rgba(0, 128, 0, 0.05);
  border-radius: 20px;
}
.app__title {
  font-size: 56px;
  line-height: 63px;
  text-align: center;
  margin: 0 auto;
  max-width: 760px;
  padding-top: 72px;
  padding-bottom: 50px;
}
@media (max-width: 568px) {
  .app__title {
    font-size: 36px;
    line-height: 43px;
  }
}
.app__icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: flex-start;
  padding-bottom: 66px;
  position: relative;
  z-index: 1;
}
.app__icon-link:hover {
  box-shadow: 0 14px 13px -5px rgba(0, 0, 0, 0.33);
  transition: ease-in-out 0.1s;
}
.app__decor {
  position: absolute;
  top: 6px;
  left: 503px;
}

.footer {
  background-color: rgba(242, 248, 242, 0.5);
}
@media (max-width: 1440px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.footer__container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 100px;
}
@media (max-width: 1279px) {
  .footer__holder {
    width: 80%;
    gap: 43px;
    margin: 0 auto;
    justify-content: center;
  }
}
.footer__logo-column {
  padding-right: 170px;
}
@media (max-width: 1439px) {
  .footer__logo-column {
    padding-right: 10px;
  }
}
.footer__logo {
  padding-bottom: 24px;
}
.footer__desc {
  max-width: 316px;
  font-size: 18px;
  line-height: 177%;
}
.footer__subscribe-column {
  padding-right: 85px;
  max-width: 532px;
  width: 100%;
}
@media (max-width: 1439px) {
  .footer__subscribe-column {
    padding-right: 25px;
  }
}
.footer__subscribe-text {
  font-size: 18px;
  line-height: 177%;
  max-width: 352px;
  padding-bottom: 24px;
}
@media (max-width: 1279px) {
  .footer__subscribe-text {
    margin: 0 auto;
  }
}
.footer__form-holder {
  max-width: 533px;
  margin: 0 auto;
}
.footer__subscribe {
  position: relative;
}
@media (max-width: 575px) {
  .footer__subscribe {
    text-align: center;
  }
}
.footer__input {
  width: 100%;
  height: 76px;
  border: none;
  outline: none;
  background: rgba(38, 50, 56, 0.1);
  border-radius: 10px;
  padding-left: 25px;
}
@media (max-width: 575px) {
  .footer__input {
    margin-bottom: 10px;
  }
}
.footer__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.footer__input-button {
  border-radius: 10px;
  background-color: #008000;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 22px 25px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
@media (max-width: 575px) {
  .footer__input-button {
    font-size: 14px;
    padding: 25px 15px;
    position: relative;
    margin: 0 auto;
  }
}
.footer__input-button:hover {
  background-color: rgba(38, 50, 56, 0.1);
  border: 1px solid #263238;
  color: #263238;
  transition: ease-in-out 0.2s;
}
.footer__social-column {
  padding-right: 48px;
}
@media (max-width: 1439px) {
  .footer__social-column {
    padding-right: 28px;
  }
}
.footer__column-title {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 24px;
}
.footer__social-icon-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 575px) {
  .footer__call-column {
    text-align: left;
  }
}
.footer__call-title {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 24px;
}
.footer__number {
  color: #263238;
}
.footer__number:hover {
  color: #008000;
  transition: ease-in-out 0.1s;
}
.footer__line {
  border-top: 1px solid rgba(38, 50, 56, 0.31);
  padding-bottom: 56px;
}
.footer__copyright-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 56px;
}
@media (max-width: 880px) {
  .footer__copyright-holder {
    gap: 45px;
  }
}
.footer__link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer__link {
  color: #263238;
}
.footer__link:hover {
  color: #008000;
  transition: ease-in-out 0.1s;
}
/*# sourceMappingURL=main.css.map */
