.app{

  position: relative;
  padding-bottom: 200px;


  &__holder{
    background: rgba(0, 128, 0, 0.05);
    border-radius: 20px;
  }

  &__title{
    font-size: 56px;
    line-height: 63px;
    text-align: center;
    margin: 0 auto;
    max-width: 760px;
    padding-top: 72px;
    padding-bottom: 50px;

    @media (max-width: 568px) {
      font-size: 36px;
      line-height: 43px;
    }
  }

  &__icon-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: flex-start;
    padding-bottom: 66px;
    position: relative;
    z-index: 1;
  }

  &__icon-link{

    &:hover{
      box-shadow: 0 14px 13px -5px rgba(0,0,0,0.33);
      transition: ease-in-out 0.1s;
    }
  }

  &__decor{
    position: absolute;
    top: 6px;
    left: 503px;
  }
}