.future{

  padding-bottom: 200px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1295px) {
      justify-content: center;
      gap: 85px;
    }
  }

  &__content{
    @include breakpoint('xxl'){
      padding-right: 30px;
    }
  }

  &__background{
    @include breakpoint('xxl'){
      padding-left: 30px;
    }
  }

  &__frame{
    border-radius: 20px;
    background: rgba(0, 128, 0, 0.05);
    width: 750px;
    height: 936px;
    position: relative;
  }
  &__image{
    position: absolute;
    left: 45px;
    top: 166px;
  }

  &__decor{
    position: absolute;
    left: 280px;
    bottom: -3px;
    z-index: -1;
  }

  &__title{
    font-size: 64px;
    line-height: 72px;
    max-width: 465px;
  }

  &__text{
    max-width: 455px;
    line-height: 177%;
    font-size: 18px;
    padding-bottom: 48px;
  }

  &__item{
    max-height: 90px;
    height: 100%;
    background: rgba(0, 128, 0, 0.05);
    border-radius: 10px;
    position: relative;
    margin-bottom: 24px;

    &:after{
      content: '';
      position: absolute;
      right: 25px;
      bottom: 35px;
      width: 24px;
      height: 24px;
      background-image: url('../../../../src/img/mark.svg');
    }
  }

  &__item-name{
    font-size: 24px;
    padding-left: 25px;
    padding-top: 33px;
    padding-bottom: 24px;
  }
}