.header{

  padding-top: 70px;

  @include breakpoint('xxl'){
    padding-right: 30px;
    padding-left: 30px;
  }

  &__container{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__nav-holder{
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('xxl'){
      gap: 200px;
    }
  }

  &__nav{
    padding-top: 20px;
  }

  &__nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
  }

  &__nav-link{
    color: $black;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    &:hover{
      color: $green;
      transition: ease-in-out 0.2s;
    }
  }

  &__button-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__sign-in{
    border: 1px solid $black;
    border-radius: 10px;
    color: $black;
    padding: 21px 44px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    &:hover{
      background-color: $green;
      transition: ease-in-out 0.2s;
      color: white;
    }
  }

  &__sign-up{
    border: 1px solid $black;
    border-radius: 10px;
    color: white;
    padding: 21px 44px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: $green;

    &:hover{
      background-color: white;
      transition: ease-in-out 0.2s;
      color: $black;
    }
  }

  &__decor{
    position: relative;
    top: -135px;
    left: 0;

    @include breakpoint('xl'){
      max-width: 280px;
      left: -33px;
    }

    @include breakpoint('xxl'){
      max-width: 350px;
      left: -33px;
    }
  }
}