.hero{

  margin-top: -260px;
  padding-bottom: 210px;
  position: relative;

  &__title{
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    line-height: 78px;
    max-width: 889px;
    margin: 0 auto;
    letter-spacing: 1.5px;
    padding-bottom: 69px;
  }

  &__text{
    font-size: 18px;
    line-height: 180%;
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
  }

  &__get-started{
    text-align: center;
    position: relative;
  }

  &__input{

    padding-left: 25px;
    width: 100%;
    max-width: 533px;
    height: 76px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgba(38, 50, 56, 0.1);
    &:focus::-webkit-input-placeholder { color:transparent;

  }
}

  &__button{
    border-radius: 10px;
    background-color: $green;
    color: white;
    padding: 22px 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 435px;
    top: 7px;

    &:hover{
      background-color: rgba(38, 50, 56, 0.1);
      border: 1px solid $black;
      color: $black;
      transition: ease-in-out 0.2s;
    }
  }

  &__decor{
    position: absolute;
  }

  &__decor2{
    position: absolute;
  }

  &__decor3{
    position: absolute;
  }

  &__decor4{
    position: absolute;
  }

  &__decor5{
    position: absolute;
  }

  &__decor6{
  position: absolute;
  }
}