.partners{

  padding-bottom: 200px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint('xxl'){
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}