.partners{

  padding-bottom: 200px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1279px) {
      width: 25%;
      justify-content: center;
      gap: 100px;
      margin: 0 auto;
    }

    //@include breakpoint('xxl'){
    //  padding-left: 40px;
    //  padding-right: 40px;
    //}
  }
}